{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block style %}
    {{ form.media }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{% static "js/geocoder.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Add Store ({{ wizard.steps.step1 }} of {{ wizard.steps.count }})</h1>
    </div>

    <form class="form form-horizontal" method="post">
        {{ wizard.management_form|bootstrap }}
        {{ wizard.form|bootstrap }}
        {% csrf_token %}
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.first }}">First Step</button>
        <button name="wizard_goto_step" class="btn" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
        {% endif %}
        <button class="btn" type="submit">Next Step</button>
    </form>
{% endblock %}