{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 60px;
        }
        .container {
            margin: 0 auto;
            max-width: 1000px;
        }
        .jumbotron {
            margin: 80px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 100px;
            line-height: 1;
        }
        .jumbotron .lead {
            font-size: 24px;
            line-height: 1.25;
        }
    </style>
    <title>Vapour Hunter - 404</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <path d="M98.692,80.351L58.485,8.793c-1.73-3.077-4.984-4.981-8.515-4.981c-3.527,0-6.783,1.904-8.512,4.981L1.252,80.351  c-1.698,3.024-1.669,6.721,0.085,9.717c1.751,2.992,4.958,4.831,8.428,4.831h80.413c3.468,0,6.674-1.839,8.426-4.831  c0.893-1.525,1.337-3.228,1.337-4.933C99.941,83.484,99.524,81.837,98.692,80.351z M44.045,59.222V34.75v-1.363  c0.085-4.008,2.388-6.652,5.97-6.652c3.58,0,5.968,2.729,5.968,6.652v1.363v24.472v1.281c-0.085,4.092-2.388,6.649-5.968,6.649  c-3.582,0-5.97-2.643-5.97-6.649V59.222z M50.01,84.744c-3.775,0-6.844-3.068-6.844-6.845s3.068-6.765,6.844-6.765  c3.776,0,6.764,2.988,6.764,6.765S53.786,84.744,50.01,84.744z"></path>
            </svg>
        </p>

        <h1>404</h1>
        <p class="lead">Somehow you stumbled onto a missing page. Go back and try again.</p>
        <p class="muted">Icon by Jardson Araújo, from The Noun Project</p>
    </div>
</div>
</body>
</html>