{% load staticfiles %}
{% load flatpages %}
{% load waffle_tags %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var static_url = '{{ STATIC_URL }}';
        var django = {'jQuery': $};
    </script>
    {% include "ga.html" %}
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="masthead">
            <img src="{% static "img/logo.png" %}" />
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="{% url "map" %}">Map</a></li>
                            <li><a href="{% url "store-retail-list" %}">Retail Stores</a></li>
                            <li><a href="{% url "store-online-list" %}">Online Stores</a></li>
                            <li><a href="{% url "chain-list" %}">Chains</a></li>
                            <li><a href="{% url "brand-list" %}">Brand Stockists</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if not user.is_authenticated %}
                            <li><a href="#login-modal" data-toggle="modal">Login</a></li>
                            {% else %}
                            {% if user.is_superuser %}
                            {% if admin_pending_requests > 0 %}<li><a href="{%  url "admin:stores_claimrequest_changelist" %}?status__exact=0"><span class="badge badge-important">{{ admin_pending_requests }}</span></a></li>{% endif %}
                            <li><a href="{% url "admin:index" %}">Admin</a></li>
                            {% endif %}
                            <li><a href="#">{{ user.username }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert-container">
    {% if messages %}

        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
        </div>

    {% block content %}
    {% endblock %}
        <hr/>
        <div class="footer">
            <p class="muted">&copy; tensixtyone 2013 | Map icons by <a href="http://mapicons.nicolasmollet.com/" target="new">Map Icons Collection</a>{% for page in flatpages %} | <a href="{{ page.url }}">{{  page.title }}</a>{% endfor %}</p>
        </div>
    </div>
    {% if not user.is_authenticated %}
    {% include "login_form.html" %}
    {% endif %}
</body>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% block scripts %}
{% endblock %}
{% switch uservoice_tab %}
<script type='text/javascript'>

    var _ues = {
        host:'vapourhunter.userecho.com',
        forum:'18759',
        lang:'en',
        tab_icon_show:false,
        tab_corner_radius:5,
        tab_font_size:20,
        tab_image_hash:'ZmVlZGJhY2s%3D',
        tab_chat_hash:'Y2hhdA%3D%3D',
        tab_alignment:'right',
        tab_text_color:'#FFFFFF',
        tab_text_shadow_color:'#00000055',
        tab_bg_color:'#999999',
        tab_hover_color:'#0080c0'
    };

    (function() {
        var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
        _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
    })();

</script>
{% endswitch %}
</html>