<style type="text/css" xmlns="http://www.w3.org/1999/html">
    #login-modal {
        text-align: center;
        width: 400px;
        margin-left: -200px;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
</style>

<div id="login-modal" class="modal hide fade">
    <div class="modal-body">
        <form class="form-signin" action="{% url "login" %}?next={{ request.get_full_path }}" method="post">
            <h2 class="form-signin-heading">Login</h2>
            <input name="username" type="text" class="input-block-level" placeholder="Username">
            <input name="password" type="password" class="input-block-level" placeholder="Password">
            {% csrf_token %}
            <p><button class="btn btn-large btn-primary" type="submit" data-loading-text="Submitted...">Sign in</button></p>
            <p class="muted"><a href="{% url "auth_password_reset" %}">Forgot your password?</a></p>
            <p class="muted">Don't have an account? Then <a href="{% url "registration_register" %}">sign up</a>.</p>
        </form>
    </div>
</div>